*.a
*.o
o.*
config.mk
sam/sam
samterm/samterm
ssam/ssam
.cache/
compile_commands.json
libutf/runetype/isalpharune.c
libutf/runetype/iscntrlrune.c
libutf/runetype/isdigitrune.c
libutf/runetype/islowerrune.c
libutf/runetype/isspacerune.c
libutf/runetype/istitlerune.c
libutf/runetype/isupperrune.c
devdraw/devdraw
devdraw/latin.h
